* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blanco: #fcfcfc;
    --negro: #202020;
    --gris: #505050;
    
    --color-1: #faf1bf;
    --color-2: #ffbf9b;
    --color-3: #e79f6e;
    --color-4: #a74a4a;

    /*--color-1: #FFFFD0;
    --color-2: #F3CCFF;
    --color-3: #D09CFA;
    --color-4: #A555EC;*/

    --selection-background: rgba(117, 41, 41, 1);
    --selection-color: var(--color-1);
}

::-moz-selection { /* Code for Firefox */
    background: var(--selection-background);
    color: var(--selection-color);
}
  
::selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: var(--negro);
}
  
::-webkit-scrollbar-thumb {
    background: #707070;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0;
}

body {
    background-color: var(--negro);
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

header {
    font-family: 'Lobster', sans-serif;
    min-height: 50vh;
    padding: 60px 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    align-content: center;
    justify-content: center;
    animation: cambio-color-header 6s ease-in-out 0s infinite;
}

@keyframes cambio-color-header {
    10% {background-color: var(--color-4);}
    40% {background-color: var(--negro);}
    60% {background-color: var(--negro);}
    90% {background-color: var(--color-4);}
}

header .cac {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

header .num {
    position: relative;
    top: -10px;
    font-size: 4rem;
    color: var(--color-1);
    transform-origin: 50% 30%;
    animation: cambio-font-size 6s ease-in-out 0s infinite;
}


@keyframes cambio-font-size {
    0% {transform: scale(1, 1);}
    50% {transform: scale(1.1, 1.1);}
    100% {transform: scale(1, 1);}
}

nav {
    padding: 5px;
    position: sticky;
    top: -1px;
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: var(--blanco)
}

nav ul a {
    padding: 4px 8px;
    margin: 0 4px;
}

nav ul a:hover {
    background-color: rgba(117, 41, 41, 0.5);
    color: var(--color-1);
}

h1, h2, h3 {
    font-family: 'Lobster', 'Poppins', sans-serif;
    background-color: rgba(117, 41, 41, 0.2);
    padding: 5px;
    margin-bottom: 25px;
    width: 80%;
    max-width: 450px;
}

.fondo-negro h1, .fondo-negro h2, .fondo-negro h3 {
    background-color: rgba(117, 41, 41, 0.3);
}

section {
    display: flex;
    flex-wrap: wrap;
}

.bloque {
    padding: 60px 40px 60px 20px;
    flex: 350px;
}

.bloque p {
    margin: auto;
    margin-top: 15px;
    padding-left: 30px;
    max-width: 600px;
}

.bloque-img {
    padding: 10px;
    flex: 250px;
    display: flex;
    justify-content: end;
    align-items: start;
}

.bloque-img img {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
}

.b-2 {
    flex: 400px;
}

.b-3 {
    flex: 250px;
}

.b-5 {
    flex: 250px;
}

.b-6 {
    flex: 400px;
}

.fondo-blanco {
    background-color: var(--blanco);
    color: var(--color-4);
}

.fondo-negro {
    background-color: var(--negro);
    color: var(--color-1);
}

.fondo-1 {
    background-color: var(--color-1);
    color: #101010;
}

.fondo-2 {
    background-color: var(--color-2);
    color: #101010;
}

.fondo-3 {
    background-color: var(--color-3);
    color: #101010;
}

.fondo-4 {
    background-color: var(--color-4);
    color: #fcfcfc;
}

footer {
    background-color: var(--gris);
    color: #d0d0d0;
    font-size: 1rem;
    padding: 70px 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

footer p {
    flex: 200px;
}

footer p:first-of-type {
    margin-top: 0;
}

footer .redes {
    flex: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-content: start;
    margin-top: 10px;
}


footer .redes a {
    font-size: 1.2rem;
    padding: 4px 8px;
}

footer .redes a:hover {
    background-color: rgba(117, 41, 41, 0.5);
    color: var(--color-1);
}

/* ///// PUNTO DE CORTE ANCHO 700PX ///// */
@media (max-width: 700px) {
    .bloque {
        padding: 60px 20px 60px 10px;
    }
    .bloque p {
        padding-left: 20px;
    }
    footer {
        padding: 70px 25px;
    }
}

/* ///// PUNTO DE CORTE ANCHO 360PX ///// */
@media (max-width: 360px) {
    header {
        height: 100vh;
    }
    .bloque {
        padding: 60px 10px 60px 10px;
    }
    .bloque p {
        padding-left: 0;
    }
    footer {
        padding: 70px 10px;
    }
}

/* ///// PUNTO DE CORTE ALTO 500PX ///// */
/* en telefono pantalla horizontal el header ocupa toda la pantalla */
@media (max-height: 500px) {
    header {
        height: 100vh;
    }
}